server:
  port: 9999
spring:
  datasource:
     driver-class-name: com.mysql.jdbc.Driver
     url:  jdbc:mysql://${jdbc.url}/tshop?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowMultiQueries=true
     username: ${jdbc.name}
     password: ${jdbc.password}
  jpa:
    database: MYSQL
    hibernate:
          ddl-auto: update
          format_sql: true
          enable_lazy_load_no_trans: true
          naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
          hibernate:
          dialect : org.hibernate.dialect.MySQL5Dialect
    connection:
          useUnicode: true
          characterEncoding: UTF-8
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  profiles:
    active: dev
  redis:
     port: 6379
     host: ${redis.url}
     password: ${redis.password}
     database: 1
     lettuce:
       pool:
         max-active: 8
         max-wait: -1ms
         max-idle: 500
         min-idle: 0



#JWT配置
jwt:
  ###TOKEN有效期 1小时 3600000
  expire: 3600000

redis:
   prefix: 'SHOP:'
   manager: '${redis.prefix}MANAGER:'